/* .topnav {
  background-color: #333;
} */

.btn {
  border: none;
  background-color: #3A8891;
  color:white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;.
  border-radius: 12px;
}


.btn:hover {
  background-color: #0E5E6F;
  color: white;
}
